@use "../variables";
@use "../mixins";
@use "../fonts";

body {
  margin: 0px;
}

a {
  text-decoration: none;
}

header {
  // background-color: linear-gradient(90deg, rgba(17,17,17,1) 0%, rgba(117,117,117,1) 100%, rgba(245,245,245,1) 100%);
  background-color: #111111;
  display: flex;
  align-items: center;

  .headerWrapper {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-right: 20px;

    .bi.bi-cart,
    .bi.bi-search {
      color: white;
      margin-right: 3px;
      font-size: 18pt;
      cursor: pointer;

      &:hover {
        color: #3fc1c9;
      }
    }
  }

  .item-amount {
    text-decoration: none;
    color: #000;
    font-weight: 500;
    font-size: 0.9rem;
    background-color: #3fc1c9;
    border-radius: 50%;
    margin-right: 10px;
    height: 25px;
    width: 25px;
    line-height: 25px;
    display: inline-block;
    text-align: center;

  }

  .cart {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;


    &:hover {
      text-decoration: none;
    }

    @include mixins.tablet-only {}

    @include mixins.desktop-only {}
  }

  .logoContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    color: variables.$color-lightgrey;
    font-size: 15pt;
    margin-top: 5px;
    margin-left: 20px;
    margin-right: 30px;


    img {
      height: auto;
      width: 100%;
      cursor: pointer;
      padding: 10px;

      @include mixins.tablet-only {
        margin-top: 0px;
      }

      @include mixins.desktop-only {
        padding: 0px 50px;
        margin-top: 5px;
        height: 70px;
        width: auto;

      }
    }
  }

}

.inputContainer {
  display: none;
}

.contact {
  display: none;
}

.headerWrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 100px;
  transition: all .5s ease-in-out;
}

// hamburgarmeny

.menu-btn {
  height: 30px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.menu-btn__burger {
  width: 25px;
  height: 3px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
  transition: all .5s ease-in-out;
  cursor: pointer;
}

.menu-btn__burger::before,
.menu-btn__burger::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 3px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
  transition: all .5s ease-in-out;
}

.menu-btn__burger::before {
  transform: translateY(-8px);
}

.menu-btn__burger::after {
  transform: translateY(8px);
}

// animation till burgaren
.menu-btn.open .menu-btn__burger {
  transform: translateX(50px);
  background: transparent;
  box-shadow: none;
  z-index: 4;
}

.menu-btn.open .menu-btn__burger::before {
  transform: rotate(45deg) translate(-35px, 35px);
}

.menu-btn.open .menu-btn__burger::after {
  transform: rotate(-45deg) translate(-35px, -35px);
}


//dropdown-menyn till burgaren
.burgerStyle {
  width: 100%;
  background-color: #111111;
  display: flex;
  flex-direction: column;
  padding: 0px;
  font-size: 11pt;
  color: #fff !important;
  margin: 0px;
  padding-top: 20px;
  padding-bottom: 10px;


  li {
    // text-align: center;
    display: flex;
    padding-left: 20px;
    padding: 8px;
    width: 100%;
    list-style: none;
    cursor: pointer;
    font-size: 1.2rem;
    text-decoration: none;
    color: #fff !important;

    a {
      display: flex;
      width: 100%;
      text-decoration: none;
      color: #fff;
    }

    &:hover {
      // background-color: variables.$color-lightgrey;
      border-left: 4px solid #3fc1c9;
    }

    span {
      display: flex;
      justify-content: flex-end;
      width: 100%;
      // flex-direction: row;
      padding-right: 20px;
    }
  }
}


ul {
  display: none;
}


@include mixins.tablet-only {
  header {
    display: flex;

    .inputContainer {
      display: flex;
      justify-content: center;
      padding-left: 50px;
    }

    .headerWrapper {
      width: 80%;
    }

    .bi.bi-search {
      margin-left: -30px;
      font-weight: bold;
      font-size: 14pt;
      color: #8995a3;
    }

    form {
      display: flex;
      align-items: center;

    }

    input {
      border-radius: 10px;
      outline: 1px solid #8995a3;
      height: 30px;
      border: none;
      padding: 17px 70px;
      font-weight: 600px;
      background-color: #111111;
      color: white;
      font-size: 10pt;
      padding: 10px 70px 10px 10px;
      width: 350px;

      &:focus {
        outline: none;
        border-color: #9ecaed;
        box-shadow: 0 0 10px #9ecaed;
      }



    }

  }

  .headerWrapper .bi.bi-search {
    display: none;
  }

  ::placeholder {
    // color: #8995a3;
    color: #8995a3;
  }


  //slut på tablet-query
}


@include mixins.desktop-only {

  .inputContainer {
    padding-left: 200px;
    margin-bottom: 20px;
    z-index: 3;
  }

  input {
    padding: 12px 70px 12px 10px;
    width: 500px;
  }

  .burgerStyle {
    display: none;
  }

  header {
    position: fixed;
    z-index: 3;
    // background-color: linear-gradient(90deg, rgba(17,17,17,1) 0%, rgba(117,117,117,1) 100%, rgba(245,245,245,1) 100%);
    background-color: #111111;
    display: flex;
    align-items: center;
    width: 100%;

    .headerWrapper {
      margin-right: 85px;
    }
  }

  nav {
    display: flex;
    justify-content: center;
    // margin: 4px;
    width: 100%;
    height: 4vh;
    background-color: #111111;
    font-size: 11pt;

    // border-bottom: 0.5px solid black;
    .navlist-wrapper {
      width: 50%;
      margin-top: 70px;
      position: fixed;
      z-index: 3;
      background-color: #111;
    }

    ul {
      display: flex;
      justify-content: space-evenly;
      align-items: flex-end;
      padding: 0px;
      margin: 0px;
      height: 100%;


      &:hover {
        cursor: pointer;
      }
    }

    .bi.bi-box,
    .bi.bi-credit-card-2-back,
    .bi.bi-gift,
    .bi.bi-geo-alt,
    .bi.bi-brightness-high {
      margin-right: 8px;
    }

    .bi.bi-caret-down {
      margin-bottom: -5px;
      margin-left: 3px;
    }
  }

  .menu-btn__burger {
    display: none;
  }

  //animation för underline till navbar
  .hover-underline-animation {
    display: inline-block;
    position: relative;
    color: white !important;
  }

  .hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 0%;
    // transform: scaleX(0);
    height: 1.5px;
    bottom: 0;
    left: 0;
    background-color: #3fc1c9;
    transform-origin: bottom right;
    transition: all 0.25s ease-out;

  }

  .hover-underline-animation:hover:after {
    // transform: scaleX(1);
    width: 100%;
    transform-origin: bottom left;
  }

  //dropdown till "upplevelser" i desktop-läget
  .dropdown-content {
    font-family: fonts.$primary-font;
    font-size: 10pt;
    display: none;
    position: absolute;
    background-color: #111111;
    color: white;
    width: 200px;
    height: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 3;
    list-style: none;
    padding: 0px;

    li {
      width: 200px;
      padding-top: 10px;
      padding-bottom: 10px;
      color: #fff !important;

      a {
        color: #fff !important;
      }
    }

    li:hover {
      background-color: rgb(59, 59, 59);
      border-left: 3px solid #3fc1c9;
    }
  }

  li {
    transition: transform ease-in-out 0.2s;
    color: #fff;

    &:hover {
      // transform: scale(1.1);
      cursor: pointer;
    }

    &.hover-underline-animation {
      position: relative;
      display: inline-block;

      &:hover .dropdown-content {
        display: block;

      }
    }
  }

  .contact {
    display: inline-block;
    color: white;
    margin: 0px 20px 0px 0px;
    font-family: fonts.$primary-font;
    cursor: pointer;
    font-size: 10pt;
    font-weight: 500;

    a {
      text-decoration: none;
      color: white;

      &:hover {
        color: #3fc1c9;
      }
    }

    &:hover {
      color: #3fc1c9;
    }

  }


  //slut på desktop-query
}
