@use "../variables";
@use "../mixins";
@use "../fonts";

body{
    margin: 0px;
}

header{
    background-color: variables.$color-dkblue;
    height: 10vh;
    display: flex;
    align-items: center;
    .menu-btn{
        display: flex;
        justify-content: flex-end;
        width: 100%;
        margin-right: 10px;
    }
    .logoContainer{
        display: flex;
        align-items: center;
        justify-content: center; 
        width: 30vw;
        height: 100px;
        color: variables.$color-lightred;
        font-size: 20pt;
    }
    
}

.inputContainer{
    display: none;
}

// hamburgarmeny
.menu-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  cursor: pointer;
  transition: all .5s ease-in-out;
}
.menu-btn__burger {
  width: 50px;
  height: 6px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255,101,47,.2);
  transition: all .5s ease-in-out;
}
.menu-btn__burger::before,
.menu-btn__burger::after {
  content: '';
  position: absolute;
  width: 50px;
  height: 6px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255,101,47,.2);
  transition: all .5s ease-in-out;
}
.menu-btn__burger::before {
  transform: translateY(-16px);
}
.menu-btn__burger::after {
  transform: translateY(16px);
}

// animation till burgaren
.menu-btn.open .menu-btn__burger {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
}
.menu-btn.open .menu-btn__burger::before {
  transform: rotate(45deg) translate(35px, -35px);
}
.menu-btn.open .menu-btn__burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
}


@include mixins.tablet-only{
    header{
        display: flex;
        .inputContainer{
            width: 50%;
            display: flex;
            justify-content: center;
        }
        .bi.bi-search{
            margin-left: -30px;
            font-weight: bold;
            font-size: 12pt;
        }
        form{
            display: flex;
            align-items: center;
            
        }
        input{
            border-radius: 10px;
            height: 25px;
            width: 300px;
        }
        
    }
}


