@use "../fonts";
@use "../variables";
@use "../mixins";

.wrapper {
    padding: 5px 0px 10px;

    @include mixins.desktop-only {
        padding: 180px 0px 100px;
        background-color: variables.$color-lightgrey;
    }
}

.section-header h2 {
    text-align: center;
    font-size: 1.7rem;
    padding: 30px 10px 20px;
    margin: 0;

    @include mixins.desktop-only {
        font-size: 2rem;
    }
}

.products {
    display: flex;
    flex-direction: column;
    padding: 0px 15px;
    width: 100%;

    @include mixins.tablet-only {
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0 auto;
        justify-content: center;
        width: 100%;
        padding: 40px 20px;
    }

    @include mixins.desktop-only {
        flex-direction: row;
        margin: 0 auto;
        justify-content: center;
        padding: 40px 0px;
        flex-wrap: wrap;

    }

    .product {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 10px 0px;

        @include mixins.tablet-only {
            width: 45%;
            margin: 0px 10px 10px;
            background-color: #fff;
            border: 2px solid variables.$color-dkblue;
        }

        @include mixins.desktop-only {
            width: 20%;
            background-color: #fff;
            border: 2px solid variables.$color-dkblue;
            margin: 0px 10px 20px;
            box-shadow: rgba(0, 0, 0, 0.34) 0px 4px 6px;
        }

        span {
            display: block;
            margin: 10px 0px;
        }

    }
}

.product-card {

    @include mixins.tablet-only {
        padding: 0px 10px;

    }

    @include mixins.desktop-only {
        padding: 0px 15px;

    }
}



.product-name {
    font-weight: 700;
    font-size: 1.5rem;

    @include mixins.desktop-only {
        font-size: 1.1rem;

    }
}

.product-details {
    font-size: 1rem;
    text-align: justify;
    word-break: break-all;
    line-height: 1.7rem;

    @include mixins.tablet-only {
        font-size: 0.9rem;
        line-height: 1.3rem;
    }

    @include mixins.desktop-only {
        font-size: 0.8rem;
        line-height: 1.2rem;

    }
}

.users {
    @include mixins.tablet-only {
        font-size: 0.9rem;
    }

    @include mixins.desktop-only {
        font-size: 0.9rem;
    }
}

.star-rating {

    @include mixins.tablet-only {
        font-size: 0.9rem;
    }

    @include mixins.desktop-only {
        font-size: 0.9rem;
    }

}
.price {
    text-align: right;
    font-weight: 700;
}

.img-container img {
    width: 100%;
    height: auto;
    object-fit: cover;

    @include mixins.tablet-only {
        height: 300px;
    }

    @include mixins.desktop-only {
        height: 200px;
    }
}

.product-buttons {
    padding: 10px 0px;
    display: flex;
    justify-content: space-between;

    button {
        font-size: 1rem;
        font-weight: 700;
        cursor: pointer;
        text-transform: uppercase;
        padding: 10px 25px;
        border: none;
        border-radius: 10px;

        @include mixins.tablet-only {
            font-size: 0.8rem;
            padding: 9px 20px;

        }

        @include mixins.desktop-only {
            padding: 12px 20px;

        }
    }

    button:first-child {
        background-color: variables.$color-dkblue;
        color: white;

       
    }

    button:last-child {
        background-color: variables.$color-lightred;
        color: white;
    }
}