@use "../fonts";
@use "../variables";
@use "../mixins";

.hero {
  background-image: url("../assets/hero-lg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
  width: 100%;

  @include mixins.tablet-only {
    height: 70vh;
  }


  .hero-video {
    display: none;


    @include mixins.desktop-only {
      display: block;
    }

    video {
      @include mixins.desktop-only {
        object-fit: cover;
        object-position: center;
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;

      }


    }
  }
}

.hero-text {
  position: absolute;
  z-index: 2;
  font-family: fonts.$secondary-font;
  text-align: center;
  color: #fff;
  padding: 200px 0px 30px;
  width: 100%;

  @include mixins.tablet-only {
    padding: 350px 0px 30px;
    font-size: 1.5rem;
  }

  @include mixins.desktop-only {
    font-size: 1.7rem;
    margin: 0 auto;
    width: 100%;
  }

  .btn {
    border-radius: 10px;
    border: 3px inset variables.$color-dkblue;
    background-color: #fff;
    color: #000;
    padding: 10px 20px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 700;
    box-shadow: rgba(0, 0, 0, 0.34) 0px 4px 6px;
    transition: 0.4s;


    &:hover {
      background-color: #fff;
      color: #000;
      transform: translateY(-2px);
    }

    @include mixins.tablet-only {
      font-size: 1rem;
    }

    @include mixins.desktop-only {
      background-color: variables.$color-dkblue;
      color: #fff;
      border: none;
      font-size: 1rem;
      padding: 17px 20px;
    }
  }

  h1 {
    padding: 10px 30px;
    font-weight: 700;
    margin: 0px 0px 10px;

    @include mixins.tablet-only {
      padding: 50px 100px 20px;
    }

    @include mixins.desktop-only {
      font-size: 3rem;
      padding: 60px 10px 20px;
      margin: 0px 0px 20px;
      text-shadow: -2px 2px black;
    }
  }

}