@use "../fonts";
@use "../variables";
@use "../mixins";

.wrapper {
    padding: 5px 0px 10px;
    background-color: variables.$color-lightgrey;

    @include mixins.tablet-only {
        padding: 0;
    }

    @include mixins.desktop-only {
        padding: 10px 0px 20px;

    }
}

.section-header h2 {
    background-color: variables.$color-lightgrey;
    text-align: center;
    font-size: 1.7rem;
    padding: 20px 10px 0px;
    margin: 0;
    font-family: fonts.$secondary-font;

    @include mixins.desktop-only {
        font-size: 2.6rem;
        font-weight: 600;
        padding: 240px 10px 0px;
    }
}

.products {
    display: flex;
    flex-direction: column;
    width: 100%;

    @include mixins.tablet-only {
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0 auto;
        justify-content: center;
        width: 100%;
        padding: 40px 20px;
    }

    @include mixins.desktop-only {
        flex-direction: row;
        margin: 0 auto;
        justify-content: center;
        padding: 20px 0px 10px;
        flex-wrap: wrap;

    }

    .product {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 10px 0px;
        padding: 10px;
        background-color: #fff;

        @include mixins.tablet-only {
            width: 45%;
            margin: 0px 10px 10px;
            background-color: #fff;
            box-shadow: rgba(0, 0, 0, 0.34) 0px 4px 6px;
        }

        @include mixins.desktop-only {
            width: 20%;
            background-color: #fff;
            margin: 0px 12px 30px;
            padding: 0px 0px 100px;
            box-shadow: rgba(0, 0, 0, 0.34) 0px 4px 6px;
        }

        span {
            display: block;
            margin: 5px 0px;
        }

    }
}

.product-card {

    @include mixins.tablet-only {
        padding: 0px 10px 100px;

    }

    @include mixins.desktop-only {
        padding: 5px 15px;

    }
}



.product-name {
    font-weight: 700;
    font-size: 1.5rem;
    font-family: fonts.$secondary-font;

    @include mixins.desktop-only {
        font-size: 1rem;

    }
}

.product-details {
    font-size: 1rem;
    font-weight: 500;
    text-align: justify;
    word-break: keep-all;
    line-height: 1.6rem;

    @include mixins.tablet-only {
        font-size: 0.9rem;
        line-height: 1.3rem;
    }

    @include mixins.desktop-only {
        font-size: 0.8rem;
        line-height: 1.2rem;
        line-break: normal;

    }
}

.users {
    background-image: url("../assets/person.svg");
    background-position: left;
    background-size: contain;
    background-repeat: no-repeat;
    width: 50%;
    height: 20px;
    padding-left: 25px;

    @include mixins.tablet-only {
        font-size: 0.9rem;
    }

    @include mixins.desktop-only {
        font-size: 0.9rem;
    }
}

.star-rating {
    background-image: url("../assets/stars.svg");
    background-position: left;
    background-size: contain;
    background-repeat: no-repeat;
    width: 40%;
    height: 15%;
    padding: 8px;
    margin: 0;

    @include mixins.tablet-only {
        font-size: 0.9rem;
        padding: 0;
    }

    @include mixins.desktop-only {
        font-size: 0.9rem;
        padding: 0;
    }

}

.price {

    font-weight: 700;
}

.img-container img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: right center;



    @include mixins.tablet-only {
        height: 300px;
    }

    @include mixins.desktop-only {
        height: 250px;
    }
}

.product-buttons {
    padding: 10px 0px;
    display: flex;
    justify-content: space-between;


    a {
        font-size: 0.9rem;
        font-weight: 600;
        cursor: pointer;
        padding: 8px 21px;
        border: none;
        border-radius: 6px;
        text-decoration: none;

        @include mixins.tablet-only {
            font-size: 0.8rem;
            padding: 9px 19px;
        }
    
        @include mixins.desktop-only {
            font-size: 0.8rem;
        }

    }
}


.button-info {
    background-color: variables.$color-dkblue;
    color: white !important;;
    transition: 0.2s;

    &:hover {
        background-color: #434665;
        color: #fff;
    }
}

.button-buy {
    background-color: variables.$color-lightred;
    color: white !important;;
    transition: 0.2s;

    &:hover {
        background-color: rgb(206, 3, 3);
    }
}


.product-footer {
    display: flex;
    flex-direction: column;

    @include mixins.tablet-only {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 0px 10px;

    }

    @include mixins.desktop-only {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 0px 10px;
    }

    .price-container {
        display: flex;
        justify-content: flex-end;
    }

    .product-buttons {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }

}