@use "../fonts";
@use "../variables";
@use "../mixins";

#hero {
  background-image: url("../assets/hero-mobile.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 60vh;
  width: 100%;
  position: relative;


  @include mixins.tablet-only {
    background-image: url("../assets/hero-tablet.jpg");
    height: 70vh;
    background-position: bottom;
  }


  .hero-video {
    display: none;


    @include mixins.desktop-only {
      display: block;
    }

    video {
      @include mixins.desktop-only {
        object-fit: cover;
        object-position: bottom;
        width: 100vw;
        height: 100vh;
        position: relative;
        top: 0;
        left: 0;

      }


    }
  }
}

.hero-text {
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  color: #fff;
  width: 100%;
  padding-top: 200px;

  @include mixins.tablet-only {
    padding-top: 250px;
  }

  @include mixins.desktop-only {
    width: 100%;
    padding-top: 240px;
 
  }



  .hero-btn {
    font-size: 1rem;
    border-radius: 6px;
    font-family: fonts.$primary-font;
    color: #fff;
    background-color: variables.$color-dkblue;
    border: none;
    padding: 12px 20px;
    cursor: pointer;
    font-weight: 700;
    letter-spacing: 1px;
    box-shadow: rgba(0, 0, 0, 0.34) 0px 4px 6px;
    transition: 0.4s;


    &:hover {
      background-color: #fff;
      color: #000;
      transform: translateY(-2px);
    }

    @include mixins.tablet-only {
      margin: 20px 0px 0px;
      font-size: 1.5rem;
    }

    @include mixins.desktop-only {
      background-color: variables.$color-dkblue;
      color: #fff;
      border: none;
      font-size: 1.4rem;
      padding: 12px 17px;
      margin: 20px 0px 0px;
    }
  }

  h1 {
    padding: 10px 30px;
    font-weight: 700;
    margin: 0px 0px 10px;
    font-size: 3rem;


    @include mixins.tablet-only {
      padding: 0px 200px 0px;
      font-size: 5rem;
      text-shadow: -2px 3px black;
    }

    @include mixins.desktop-only {
      font-size: 4.3rem;
      padding: 0;
      margin: 0px 0px 20px;
      text-shadow: -2px 3px black;
    }
  }

}
