@use "../fonts";
@use "../variables";
@use "../mixins";

.wrapper {
    @include mixins.tablet-only {
        padding: 50px 20px;
    }
}

#product-display-container {
    display: flex;
    flex-direction: column;
    padding: 0px 10px 0px 0px;
    background: #fff;

    @include mixins.tablet-only {
        flex-direction: row;
        width: 90%;
        justify-content: center;
        margin: 0 auto;
        gap: 50px;
    }

    @include mixins.desktop-only {
        flex-direction: row;
        width: 70%;
        justify-content: center;
        margin: 0 auto;
        gap: 50px;
        padding: 50px;

    }

    .product-info-section {
        padding: 10px 20px;
        position: relative;

        @include mixins.tablet-only {
            padding: 10px 20px 20px 0px;
        }

        @include mixins.desktop-only {
            padding: 0px 20px 20px 0px;

        }
    }

    .product-name {
        font-size: 2rem;
    }

    span {
        display: block;
        margin: 5px 0px 10px;
    }

    .users {
        @include mixins.tablet-only {
            font-size: 0.9rem;
        }

        @include mixins.desktop-only {
            font-size: 0.9rem;
        }
    }

    .star-rating {

        @include mixins.tablet-only {
            font-size: 0.9rem;
        }

        @include mixins.desktop-only {
            font-size: 0.9rem;
        }

    }

    .price {
        text-align: left;
        font-weight: 700;
        font-size: 1.3rem;
    }

    .product-details {
        font-size: 1rem;
    }

    .button-buy {
        width: 20%;
    }

    button {
        font-size: 1rem;
        font-weight: 700;
        cursor: pointer;
        text-transform: uppercase;
        width: 100%;
        padding: 10px 0px;
        border: none;
        border-radius: 10px;
        background-color: variables.$color-lightred;
        color: white;
        margin: 10px 0px 0px;
        transition: 0.2s;

        &:hover {
            background-color: rgb(206, 3, 3);
        }
    

    @include mixins.tablet-only {
        font-size: 0.8rem;
        padding: 15px 20px;
        width: 100%;

    }

    @include mixins.desktop-only {}
}
}

.product-details-footer {
    padding: 0px 0px 20px;

    @include mixins.tablet-only {
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: flex-end;
        position: absolute;
        bottom: 0;
        left: 0;
    }

    @include mixins.desktop-only {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        position: absolute;
        bottom: 0;
        left: 0;
    }

}

.product-img-section img {
    width: 100%;
    max-height: 600px;
    object-fit: cover;
}

.back-arrow-container {
    background-color: variables.$color-lightgrey;
    position: relative;

    .bi-arrow-left {
        cursor: pointer;
        font-size: 2rem;
        position: fixed;
        color: #000;
        padding: 10px;

        @include mixins.tablet-only {
            font-size: 2.5rem;
            margin: 30px 0px;

        }

        @include mixins.desktop-only {
            position: absolute;
            margin: 30px 75px;
            padding: 0;
            font-size: 3rem;
        }

    }



}