@use "../fonts";
@use "../variables";
@use "../mixins";

.modalContainer {
  display: none;
  position: fixed;
  z-index: 4;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);

  .modalContent {
    display: flex;
    flex-direction: column;
    opacity: 1;
    background-color: black;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 4px;
    color: white;
    border: none;
    margin: 45% auto;
    padding: 20px;
    width: 90%;
    -webkit-animation-name: animatemodal;
    -webkit-animation-duration: 0.8s;
    animation-name: animatemodal;
    animation-duration: 0.8s;

    /* Add Animation */
    @-webkit-keyframes animatemodal {
      from {
        top: -300px;
        opacity: 0;
      }

      to {
        top: 0;
        opacity: 1;
      }
    }

    @keyframes animatemodal {
      from {
        top: -300px;
        opacity: 0;
      }

      to {
        top: 0;
        opacity: 1;
      }
    }

    @include mixins.tablet-only {
      margin: 15% auto;
      width: 50%;
    }

    @include mixins.desktop-only {
      margin: 5% auto;
      padding: 20px;
      width: 40%;
    }

    a {
      font-size: 0.9rem;
      font-weight: 600;
      cursor: pointer;
      padding: 8px 21px;
      border: none;
      border-radius: 6px;
      text-decoration: none;
      text-align: center;
      width: 40%;
    }

    .modalHeader {
      text-align: center;
      font-size: 1.3rem;
    }

    .button-container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 20px;

      @include mixins.desktop-only {
        gap: 20px;
      }
    }

    .button-shop {
      background-color: #fff;
      color: #000 !important;
      padding: 12px 7px;
      transition: 0.2s;
      width: 70%;

      &:hover {
        background-color: #53e1e9;
      }


      @include mixins.tablet-only {}

      @include mixins.desktop-only {
        height: 50px;
        width: 180px;
      }
    }

    .button-buy {
      background-color: #3fc1c9;
      color: #000 !important;
      padding: 12px 0px;
      transition: 0.2s;
      width: 70%;

      &:hover {
        background-color: #53e1e9;
      }

      @include mixins.desktop-only {

        width: 180px;
      }
    }

    .bi-x {
      color: white;
      text-align: right;
      font-size: 2.4rem;
      cursor: pointer;
    }

    .bi-x:hover,
    .bi-x:focus {
      text-decoration: none;
      cursor: pointer;
      color: #53e1e9;
    }
  }
}